#main {
    min-width: 100%;
    min-height: 50%;
    overflow: hidden;
}

.board-title {
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.board-title span {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

textarea {
    width: 825px;
    height: 38%;
    margin-left: 10px;
    font-size: 15px;
    background-color: #FFF;
    border-radius: 3px;
    border-color: aliceblue;
}

.toggle {
    margin-left: 10px;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    max-width: 50%;
    vertical-align: top;
}

.container > div {display: inline-block}

.textarea {
    width: 65%;
    vertical-align: top;
    min-height: 35vh;
}

.buttons {
    width: 30%;
    vertical-align: bottom;
}

.buttons > button {
    outline: none;
    border: none;
    margin: 0;
    border-radius: 5px;
}

#channel-name {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
}
